{% for category in categories %}
    <div id="modal-edit-category-{{ category.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold ml-3 h3">Edit Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('app_edit_category',{ 'id' : category.id }) }}" method="POST"
                      id="formEditCategory" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-md-12 d-flex justify-content-center">
                                <div class="form-group">
                                    {# {{ product.productImage }} #}
                                    <img src="{{ asset('uploads/category/') ~ category.CategoryImage }}" alt="."
                                         style="margin-left: 100px;" class="list-thumbnail responsive card-img-center img-thumbnail mb-4">
                                    <input type="file" id="image" class="form-control chp" placeholder="Image"
                                           data-toggle="tooltip" title="(Facultatif)"
                                           name="categoryImage">
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="nomCategory" class="form-group has-float-label mb-1 h6 font-weight-bold text-muted ">
                                        Category Name
                                    </label>
                                    <input type="text" id="nomCategory" class="form-control chp" placeholder="Nom et Prénom"
                                           value="{{ category.CategoryName }}"
                                           name="nomCategory" required>
                                </div>
                            </div>



                            <div class="msgerreur text-danger"></div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light btn-shadow font-weight-bold" data-dismiss="modal">
                            Cancel
                        </button>
                        <button class="btn btn-primary btn-shadow font-weight-bold" type="submit">
                            Edit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
