{% for product in products %}
    <div id="modal-edit-product-{{ product.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold ml-3 h3">Edit Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('app_edit_product',{ 'id' : product.id }) }}" method="POST"
                      id="formEditProduct" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-md-12 d-flex justify-content-center">
                                <div class="form-group">
                                    <img src="{{ asset('uploads/') ~ product.productImage }}" alt="{{ product.productImage }}"
                                         style="margin-left: 100px;" class="list-thumbnail responsive card-img-center img-thumbnail mb-4">
                                    <input type="file" id="image" class="form-control chp" placeholder="Image"
                                           data-toggle="tooltip" title="(Facultatif)"
                                           name="productImage">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nomProduct" class="form-group has-float-label mb-1 h6 font-weight-bold text-muted">
                                        Product Name
                                    </label>
                                    <input  type="text" id="nomProduct" class="form-control chp" placeholder="Nom et Prénom"
                                            value="{{ product.productName }}"
                                            name="nomProduct" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nomPrice" class="form-group has-float-label mb-1 h6 font-weight-bold text-muted">Product Price</label>
                                    <input id="nomPrice" type="number" step="0.1" class="form-control chp" placeholder="Price"
                                           name="nomPrice" value="{{ product.productPrice }}" required>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="selectCategory" class="form-group has-float-label mb-1 h6 font-weight-bold text-muted ">Category List</label>
                                    <select id="selectCategory" class="form-control" name="selectCategory">
                                        <option selected="true" style="display:none;">Select Category</option>
                                        {% for cat in category %}
                                            <option
                                                    {#                                                    {{ product.category.id == cat.id ? "selected" }}#}
                                                    value="{{ cat.id }}">{{ cat.CategoryName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="nomDescription" class="form-group has-float-label mb-1 h6 font-weight-bold text-muted">Product
                                        description</label>
                                    <textarea id="nomDescription" class="form-control" name="nomDescription" rows="4"
                                              required>{{ product.productDescription }}</textarea>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="selectColor" class="form-group has-float-label mb-1 h6 font-weight-bold text-muted">
                                        Color List
                                    </label>
                                    <select id="selectColor" name="selectColor[]" class="form-control select2-multiple w-100"
                                            multiple="multiple" required>
                                        {% for col in color %}
                                            <option value="{{ col.id }}" {{ col in product.getColor() ? "selected" }}>
                                                {{ col.colorName }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="selectSize" class="form-group has-float-label mb-1 h6 font-weight-bold text-muted">
                                        Size List
                                    </label>
                                    <select id="selectSize" name="selectSize[]" class="form-control select2-multiple w-100"
                                            multiple="multiple" required>
                                        {% for s in size %}
                                            <option value="{{ s.id }}" {{ s in product.getSize() ? "selected" }}>
                                                {{ s.sizeName }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="msgerreur text-danger"></div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light btn-shadow font-weight-bold" data-dismiss="modal">
                            Cancel
                        </button>
                        <button class="btn btn-primary btn-shadow font-weight-bold" type="submit">
                            Edit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
