<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}Log in!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/font/iconsmind-s/css/iconsminds.css') }}" />
        <link rel="stylesheet" href="{{ asset('/font/simple-line-icons/css/simple-line-icons.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/vendor/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/vendor/bootstrap.rtl.only.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/vendor/fullcalendar.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/vendor/dataTables.bootstrap4.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/vendor/datatables.responsive.bootstrap4.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/vendor/select2.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/vendor/perfect-scrollbar.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/vendor/glide.core.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/vendor/bootstrap-stars.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/vendor/nouislider.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/vendor/bootstrap-datepicker3.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/vendor/component-custom-switch.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/main.css') }}" />
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('/js/vendor/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('/js/vendor/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('/js/vendor/Chart.bundle.min.js') }}"></script>
        <script src="{{ asset('/js/vendor/chartjs-plugin-datalabels.js') }}"></script>
        <script src="{{ asset('/js/vendor/moment.min.js') }}"></script>
        <script src="{{ asset('/js/vendor/fullcalendar.min.js') }}"></script>
        <script src="{{ asset('/js/vendor/datatables.min.js') }}"></script>
        <script src="{{ asset('/js/vendor/perfect-scrollbar.min.js') }}"></script>
        <script src="{{ asset('/js/vendor/progressbar.min.js') }}"></script>
        <script src="{{ asset('/js/vendor/jquery.barrating.min.js') }}"></script>
        <script src="{{ asset('/js/vendor/select2.full.js') }}"></script>
        <script src="{{ asset('/js/vendor/nouislider.min.js') }}"></script>
        <script src="{{ asset('/js/vendor/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('/js/vendor/Sortable.js') }}"></script>
        <script src="{{ asset('/js/vendor/mousetrap.min.js') }}"></script>
        <script src="{{ asset('/js/vendor/glide.min.js') }}"></script>
        <script src="{{ asset('/js/dore.script.js') }}"></script>
        <script src="{{ asset('/js/scripts.js') }}"></script>
        <script src="{{ asset('/node_modules/sweetalert2/dist/sweetalert2.all.js/sweetalert2.all.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
    {% endblock %}
</head>
{% block body %}
    <body class="background show-spinner no-footer">
    <div class="fixed-background"></div>
    <main>
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
            <div class="container">
                <div class="row h-100">
                    <div class="col-12 col-md-10 mx-auto my-auto">
                        <div class="card auth-card">
                            <div class="position-relative image-side ">
                                <p class=" text-white h2">MAGIC IS IN THE DETAILS</p>
                                <p class="white mb-0">
                                    Please use your e-mail to reset your password.
                                    <br>If you are not a member, please
                                    <a href="{{ path('app_register_admin')}}" class="white">register</a>.
                                </p>
                            </div>
                            <div class="form-side">
                                <a href="{{ path('app_dashboard') }}">
                                    <span class="logo-single"></span>
                                </a>
                                <h6 class="mb-4">Forgot Password</h6>
                                {{ form_start(requestForm) }}
                                {{ form_row(requestForm.email, {
                                    'attr': {'class': 'form-control'},
                                }) }}
                                <div>
                                    <small>
                                        Enter your email address and we will send you a
                                        link to reset your password.
                                    </small>
                                </div><br><br>

{#                                    <div class="d-flex justify-content-end align-items-center">#}
                                        <button class="btn btn-primary btn-lg btn-shadow">RESET</button>
{#                                    </div>#}
                                {{ form_end(requestForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/dore.script.js"></script>
    <script src="js/scripts.js"></script>
    </body>
{% endblock %}
