
    <div id="myModalAddProduct" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold ml-3 h3">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('app_product_create') }}" method="POST"
                      id="formAddProduct" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-md-12 d-flex justify-content-center">
                                <div class="form-group">
                                    <input type="file" id="image" class="form-control chp" placeholder="Image"
                                           data-toggle="tooltip" title="(Facultatif)"
                                           name="productImage">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nomProduct" class="form-group has-float-label mb-1 h6 font-weight-bold text-muted">
                                        Product Name
                                    </label>
                                    <input type="text" class="form-control chp" id="nomProduct" placeholder="Nom et Prénom" name="nomProduct" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nomPrice" class="form-group has-float-label mb-1 h6 font-weight-bold text-muted">Product Price</label>
                                    <input type="number" step="0.1" class="form-control chp" id="nomPrice" placeholder="Price" name="nomPrice"  required>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="selectCategory" class="form-group has-float-label mb-1 h6 font-weight-bold text-muted">Category List</label>
                                    <select class="form-control" id="selectCategory" name="selectCategory">
                                        <option selected="true" style="display:none;">Select Category</option>
                                        {% for cat in category %}
                                            <option
                                                    value="{{ cat.id }}">{{ cat.CategoryName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="nomDescription" class="form-group has-float-label mb-1 h6 font-weight-bold text-muted">Product description</label>
                                    <textarea class="form-control" name="nomDescription" id="nomDescription" rows="4" required></textarea>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="selectColor" class="form-group has-float-label mb-1 h6 font-weight-bold text-muted">
                                        Color List
                                    </label>
                                    <select name="selectColor[]" class="form-control select2-multiple w-100"
                                            multiple="multiple" id="selectColor" required>
                                        {% for col in color %}
                                            <option value="{{ col.id }}">
                                                {{ col.colorName }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="selectSize" class="form-group has-float-label mb-1 h6 font-weight-bold text-muted">
                                        Size List
                                    </label>
                                    <select name="selectSize[]" class="form-control select2-multiple w-100"
                                            multiple="multiple" id="selectSize" required>
                                        {% for s in size %}
                                            <option value="{{ s.id }}">
                                                {{ s.sizeName }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group d-flex">
                                    <label for="promo" class="form-group has-float-label mb-1 h6 font-weight-bold text-muted">Promotion</label>
                                    <input type="checkbox" class="form-control chp w-15" id="promo" placeholder="Promo" name="promo" style="font-size: 3px">
                                </div>
                            </div>

                            <div class="msgerreur text-danger"></div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light btn-shadow font-weight-bold" data-dismiss="modal">
                            Cancel
                        </button>
                        <button class="btn btn-primary btn-shadow font-weight-bold" type="submit">
                            Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>





{#<div id="myModalAddProduct" class="modal fade" role="dialog">#}
{#    <div class="modal-dialog modal-lg">#}

{#        <!-- Modal content-->#}
{#        <div class="modal-content">#}

{#            <div class="modal-header">#}
{#                <h5 class="modal-title">Add Ctegory</h5>#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
{#            </div>#}

{#            <div class="modal-body">#}
{#                <div class="container">#}
{#                    <div class="row col-md-12">#}
{#                        <div class="my-form " >#}
{#                            {{ form_start(CreateForm) }}#}
{#                            <label class="form-group has-float-label mb-4 h6">#}
{#                                {{ form_row(CreateForm.productName) }}#}
{#                            </label><br>#}
{#                            <label class="form-group has-float-label mb-4 h6">#}
{#                                {{ form_row(CreateForm.productPrice) }}#}
{#                            </label><br>#}
{#                            <label class="form-group has-float-label mb-4 h6">#}
{#                                {{ form_row(CreateForm.productDescription) }}#}
{#                            </label><br>#}
{#                            <label class="form-group has-float-label mb-4 h6">#}
{#                                {{ form_row(CreateForm.category) }}#}
{#                            </label><br>#}
{#                            <label class="form-group has-float-label mb-4 h6">#}
{#                                {{ form_row(CreateForm.addColor) }}#}
{#                            </label><br>#}
{#                            <label class="form-group has-float-label mb-4 h6">#}
{#                                {{ form_row(CreateForm.size) }}#}
{#                            </label><br>#}
{#                            <label class="form-group has-float-label mb-4 h6">#}
{#                                {{ form_row(CreateForm.onSale) }}#}
{#                            </label><br>#}

{#                            <label class="form-group has-float-label mb-4 h6">#}
{#                                {{ form_row(CreateForm.imageFile) }}#}
{#                            </label><br>#}
{#                            <div class="d-flex justify-content-end align-items-center">#}
{#                                <button class="btn btn-primary btn-lg btn-shadow" type="submit">Create Category</button>#}
{#                            </div>#}
{#                            {{ form_end(CreateForm) }}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

{#        </div>#}

{#    </div>#}
{#</div>#}



{#<div id="myModalAddProduct" class="modal fade" role="dialog">#}
{#    <div class="modal-dialog modal-lg">#}
{#        <!-- Modal content-->#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <h5 class="modal-title">Add new product</h5>#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
{#            </div>#}
{#            <div class="modal-body">#}
{#                <div class="row">#}
{#                    <div class="col-md-12">#}

{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="modal-footer">#}
{#                -#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
