{% extends 'base.html.twig' %}


{% block title %}Create Product!{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid disable-text-selection">
            <div class="row">
                <div class="col-12">
                    <div class="mb-2">
                        <h1>Product List</h1>
                        <div class="top-right-button-container">
                            <a href="{{ path('app_product') }}">
                                <button type="button" class="btn btn-primary btn-lg top-right-button mr-1">View List</button>
                            </a>
                        </div>
                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Library</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Data</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="separator mb-5"></div>
                </div>
            </div>

            <div class="form-side">
                <a href="Dashboard.Default.html">
                    <span class="logo-single"></span>
                </a>
                <h3 class="mb-4">Créer un produit</h3>

                    {{ form_start(CreateForm) }}
                    <label class="form-group has-float-label mb-4">
                        {{ form_row(CreateForm.productName) }}
                    </label>
                    <label class="form-group has-float-label mb-4">
                        {{ form_row(CreateForm.productPrice)}}
                    </label>
                    <label class="form-group has-float-label mb-4">
                        {{ form_row(CreateForm.productDescription) }}
                    </label>
                    <div class="d-flex justify-content-end align-items-center">
                        <button class="btn btn-primary btn-lg btn-shadow" type="submit">Create Produit</button>
                    </div>
                    {{ form_end(CreateForm) }}
            </div>
        </div>
    </main>

    <footer class="page-footer">
        <div class="footer-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <p class="mb-0 text-muted">ColoredStrategies 2019</p>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                        <ul class="breadcrumb pt-0 pr-0 float-right">
                            <li class="breadcrumb-item mb-0">
                                <a href="#" class="btn-link">Review</a>
                            </li>
                            <li class="breadcrumb-item mb-0">
                                <a href="#" class="btn-link">Purchase</a>
                            </li>
                            <li class="breadcrumb-item mb-0">
                                <a href="#" class="btn-link">Docs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}
