{% extends 'dashboard/baseDashboard.html.twig' %}

{% block title %}Hello Product Controller!{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid disable-text-selection">
            <div class="row">
                <div class="col-12">
                    <div class="mb-2">
                        <h1>Product Thumbs</h1>
                        <div class="top-right-button-container">
                            <button type="button" class="addBtn btn btn-primary btn-lg top-right-button mr-1"
                                    data-toggle="modal" data-target="#myModalAddProduct">ADD NEW
                            </button>
                        </div>
                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Library</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Data</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="mb-2">
                        <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                           role="button" aria-expanded="true" aria-controls="displayOptions">
                            Display Options
                            <i class="simple-icon-arrow-down align-middle"></i>
                        </a>
                        <div class="collapse dont-collapse-sm" id="displayOptions">
                            <span class="mr-3 mb-2 d-inline-block float-md-left">
                                <a href="{{ path('app_product') }}" class="mr-2 view-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                                        <path class="view-icon-svg" d="M17.5,3H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z"/>
                                        <path class="view-icon-svg"
                                              d="M3,2V3H1V2H3m.12-1H.88A.87.87,0,0,0,0,1.88V3.12A.87.87,0,0,0,.88,4H3.12A.87.87,0,0,0,4,3.12V1.88A.87.87,0,0,0,3.12,1Z"/>
                                        <path class="view-icon-svg"
                                              d="M3,9v1H1V9H3m.12-1H.88A.87.87,0,0,0,0,8.88v1.24A.87.87,0,0,0,.88,11H3.12A.87.87,0,0,0,4,10.12V8.88A.87.87,0,0,0,3.12,8Z"/>
                                        <path class="view-icon-svg"
                                              d="M3,16v1H1V16H3m.12-1H.88a.87.87,0,0,0-.88.88v1.24A.87.87,0,0,0,.88,18H3.12A.87.87,0,0,0,4,17.12V15.88A.87.87,0,0,0,3.12,15Z"/>
                                        <path class="view-icon-svg"
                                              d="M17.5,10H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z"/>
                                        <path class="view-icon-svg"
                                              d="M17.5,17H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z"/></svg>
                                </a>
                                <a href="{{ path('app_product_list') }}" class="mr-2 view-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                                        <path class="view-icon-svg"
                                              d="M7,2V8H1V2H7m.12-1H.88A.87.87,0,0,0,0,1.88V8.12A.87.87,0,0,0,.88,9H7.12A.87.87,0,0,0,8,8.12V1.88A.87.87,0,0,0,7.12,1Z"/>
                                        <path class="view-icon-svg"
                                              d="M17,2V8H11V2h6m.12-1H10.88a.87.87,0,0,0-.88.88V8.12a.87.87,0,0,0,.88.88h6.24A.87.87,0,0,0,18,8.12V1.88A.87.87,0,0,0,17.12,1Z"/>
                                        <path class="view-icon-svg"
                                              d="M7,12v6H1V12H7m.12-1H.88a.87.87,0,0,0-.88.88v6.24A.87.87,0,0,0,.88,19H7.12A.87.87,0,0,0,8,18.12V11.88A.87.87,0,0,0,7.12,11Z"/>
                                        <path class="view-icon-svg"
                                              d="M17,12v6H11V12h6m.12-1H10.88a.87.87,0,0,0-.88.88v6.24a.87.87,0,0,0,.88.88h6.24a.87.87,0,0,0,.88-.88V11.88a.87.87,0,0,0-.88-.88Z"/>
                                    </svg>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="separator mb-5"></div>
                </div>
            </div>


            <div class="row">
                <div class="col-12 list" data-check-all="checkAll">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Test</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Description</th>
                                <th>Category </th>
                                <th>Color</th>
                                <th>Size</th>
                                <th>Promo</th>
                                <th>createdAt</th>
                                <th>updatedAt</th>
                                <th class="top-right-button-container mr-5">Edit&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;delete &nbsp;&nbsp;&nbsp;&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody>
                        {% for product in products %}
                            <tr class="bg-white rounded align-self-center">
                                <td style="width: 110px;">
                                    <a class="d-flex" href="{{ path('app_show_product', {id: product.id}) }}">
                                        <img src="{{ asset('uploads/product/') ~ product.productImage }}" alt="{{ product.productImage }}"
                                             class="list-thumbnail responsive card-img-left img-thumbnail">
                                    </a>
                                </td>

                                <td>
                                    <p class="text-muted">
                                        {% for detail in details %}
                                            <p> {{ detail in product.getDetails() }}</p>
{#                                    .getNewColor().colorName#}
                                        {% endfor %}
                                    </p>
                                </td>

                                <td>
                                    <p class="text-muted align-content-center">{{ product.productName }}</p>
                                </td>

                                <td>
                                    <p class="text-muted">{{ product.productPrice }}</p>
                                </td>

                                <td>
                                    <textarea class="text-muted border-0" rows="4" cols="45">{{ product.productDescription }}</textarea>
                                </td>

                                <td>
                                    <p class="text-muted">{{ product.category }}</p>
                                </td>

                                <td>
                                    <p class="text-muted">
                                        {% for col in color %}
                                             <p> {{ col in product.getColor() }}</p>
                                        {% endfor %}
                                    </p>
                                </td>

                                <td>
                                    <p class="text-muted">
                                        {% for s in size %}
                                             <p> {{ s in product.getSize() }}</p>
                                        {% endfor %}
                                    </p>
                                </td>

                                <td>
                                    {% if product.onSale  == false %}
                                        <p class="text-muted">False</p>
                                    {% else %}
                                        <p class="text-muted">True</p>
                                    {% endif %}
                                </td>

                                <td>
                                    <p class="text-muted">{{ product.createdAt.format('d/m/Y') }}</p>
                                </td>

                                <td>
                                    <p class="text-muted">{{ product.updatedAt.format('d/m/Y') }}</p>
                                </td>

                                <td class="float-right mr-5">
                                    <button type="button"
                                            class="editBtnProduct badge badge-pill badge-secondary border-0 font-weight-bold mr-2" data-toggle="modal" data-target="#modal-edit-product-{{ product.id }}" >
                                            <i class="glyph-icon simple-icon-pencil" data-toggle="tooltip"
                                               data-placement="top"
                                               title="Edit">&nbsp; Edit</i>
                                    </button>
                                    <a href="{{ path('app_delete_product', {id: product.id}) }}"
                                       onclick="return confirm('are u sure?')"
                                       class="btn badge badge-pill badge-secondary border-0 font-weight-bold"
                                       data-toggle="tooltip" data-toggle="tooltip" data-placement="top"
                                       title="Delete">
                                        <i class="fa fa-trash">&nbsp; Delete</i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
{#                    {% for product in products %}#}
{#                        <div class="card d-flex flex-row mb-3">#}
{#                            <div style="width: 112px;">#}
{#                                <a class="d-flex" href="{{ path('app_show_product', {id: product.id}) }}">#}
{#                                    #}{# <img src="{{ product.productImage }}" alt="{{ product.productName }}" #}
{#                                    #}{# | imagine_filter('squared_thumbnail_medium') #}
{#                                    <img src="{{ vich_uploader_asset(product) }}" alt="{{ product.productName }}"#}
{#                                         class="list-thumbnail responsive border-0 card-img-left img-thumbnail"#}
{#                                         style="width: 100%;"/>#}
{#                                </a>#}
{#                            </div>#}

{#                            <div class="d-flex flex-grow-1 min-width-zero">#}
{#                                <div#}
{#                                        class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">#}
{#                                    <td>#}
{#                                        <a class="list-item-heading mb-0 truncate w-40 w-xs-100"#}
{#                                           href="{{ path('app_show_product', {id: product.id}) }}">#}
{#                                            {{ product.productName }}#}
{#                                        </a>#}
{#                                    </td>#}
{#                                    <p class="mb-0 text-muted text-small w-15 w-xs-100">{{ product.productPrice }}</p>#}
{#                                    <p class="mb-0 text-muted text-small w-15 w-xs-100">{{ product.productDescription }}</p>#}
{#                                    <p class="mb-0 text-muted text-small w-15 w-xs-100">{{ product.category }}</p>#}
{#                                     <p class="mb-0 text-muted text-small w-15 w-xs-100">{{  product.color }}</p>#}
{#                                    <p>#}
{#                                        {% for col in color %}#}
{#                                            <p> {{ col.getColorName()|join(', ') }}</p>#}
{#                                        {% endfor %}#}
{#                                    </p>#}
{#                                    <p class="mb-0 text-muted text-small w-15 w-xs-100">{{ product.size }}</p>#}
{#                                    <p class="mb-0 text-muted text-small w-15 w-xs-100">{{ product.createdAt.format('d/m/Y') }}</p>#}
{#                                    <p class="mb-0 text-muted text-small w-15 w-xs-100">{{ product.updatedAt.format('d/m/Y') }}</p>#}
{#                                    <div class="w-15 w-xs-100 ml-5 d-flex">#}
{#                                        #}{# <span class="badge badge-pill badge-secondary">ON HOLD</span> #}
{#                                        <button type="button"#}
{#                                                class="editBtnProduct badge badge-pill badge-secondary border-0 font-weight-bold mr-2" data-toggle="modal" data-target="#modal-edit-product-{{ product.id }}">#}
{#                                            <i class="glyph-icon simple-icon-pencil" data-toggle="tooltip"#}
{#                                               data-placement="top"#}
{#                                               title="Edit"></i>#}
{#                                            Edit#}
{#                                        </button>#}
{#                                        <a href="{{ path('app_delete_product', {id: product.id}) }}"#}
{#                                           onclick="return confirm('are u sure?')"#}
{#                                           class="btn badge badge-pill badge-secondary border-0 font-weight-bold"#}
{#                                           data-toggle="tooltip" data-toggle="tooltip" data-placement="top"#}
{#                                           title="Delete">#}
{#                                            <i class="fa fa-trash"> Delete</i>#}
{#                                        </a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        </tr>#}
{#                    {% endfor %}#}


                    {# Add Product modal #}
                    {% include 'dashboard/Product/_modalAddProduct.html.twig' %}

                    {# Edit Product modal #}
                    {% include 'dashboard/Product/_modalEditProduct.html.twig' %}

                     {% do products.setPageRange(3) %}
                     {{ knp_pagination_render(products, 'dashboard/Product/paginator.html.twig') }}

                </div>
            </div>

        </div>
    </main>

{% endblock %}
