{% extends 'dashboard/baseDashboard.html.twig' %}


{% block title %}Hello CategoriesController!{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid disable-text-selection">
            <div class="row">
                <div class="col-12">
                    <div class="mb-2">
                        <h1>Product List</h1>
                        <div class="top-right-button-container">
                            {#                            <a href="">#}
                            {#                                {{ path("app_create") }}#}
                            <button type="button" class="addBtn btn btn-primary btn-lg top-right-button mr-1" data-toggle="modal" data-target="#myModalAddProduct">ADD NEW</button>
                            {#                            </a>#}
                            {#                            {{ render(controller('App\\Controller\\ProductController::create')) }}#}
                            {#                            {{ render(controller('App:Controller:ProductController:create')) }}#}
                            <div class="btn-group">
                                <div class="btn btn-primary btn-lg pl-4 pr-0 check-button">
                                    <label class="custom-control custom-checkbox mb-0 d-inline-block">
                                        <input type="checkbox" class="custom-control-input" id="checkAll">
                                        <span class="custom-control-label">&nbsp;</span>
                                    </label>
                                </div>
                                <button type="button"
                                        class="btn btn-lg btn-primary dropdown-toggle dropdown-toggle-split"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </div>
                            </div>
                        </div>
                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Library</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Data</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="mb-2">
                        <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                           role="button" aria-expanded="true" aria-controls="displayOptions">
                            Display Options
                            <i class="simple-icon-arrow-down align-middle"></i>
                        </a>
                        <div class="collapse dont-collapse-sm" id="displayOptions">
                            <span class="mr-3 mb-2 d-inline-block float-md-left">
{#                                <a href="#" class="mr-2 view-icon active">#}
{#                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">#}
{#                                        <path class="view-icon-svg" d="M17.5,3H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />#}
{#                                        <path class="view-icon-svg" d="M17.5,10H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />#}
{#                                        <path class="view-icon-svg" d="M17.5,17H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />#}
{#                                    </svg>#}
{#                                </a>#}
                                <a href="{{ path('app_product') }}" class="mr-2 view-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                                        <path class="view-icon-svg" d="M17.5,3H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z" />
                                        <path class="view-icon-svg"
                                              d="M3,2V3H1V2H3m.12-1H.88A.87.87,0,0,0,0,1.88V3.12A.87.87,0,0,0,.88,4H3.12A.87.87,0,0,0,4,3.12V1.88A.87.87,0,0,0,3.12,1Z" />
                                        <path class="view-icon-svg"
                                              d="M3,9v1H1V9H3m.12-1H.88A.87.87,0,0,0,0,8.88v1.24A.87.87,0,0,0,.88,11H3.12A.87.87,0,0,0,4,10.12V8.88A.87.87,0,0,0,3.12,8Z" />
                                        <path class="view-icon-svg"
                                              d="M3,16v1H1V16H3m.12-1H.88a.87.87,0,0,0-.88.88v1.24A.87.87,0,0,0,.88,18H3.12A.87.87,0,0,0,4,17.12V15.88A.87.87,0,0,0,3.12,15Z" />
                                        <path class="view-icon-svg"
                                              d="M17.5,10H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z" />
                                        <path class="view-icon-svg"
                                              d="M17.5,17H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z" /></svg>
                                </a>
                                <a href="{{ path('app_product_list') }}" class="mr-2 view-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                                        <path class="view-icon-svg"
                                              d="M7,2V8H1V2H7m.12-1H.88A.87.87,0,0,0,0,1.88V8.12A.87.87,0,0,0,.88,9H7.12A.87.87,0,0,0,8,8.12V1.88A.87.87,0,0,0,7.12,1Z" />
                                        <path class="view-icon-svg"
                                              d="M17,2V8H11V2h6m.12-1H10.88a.87.87,0,0,0-.88.88V8.12a.87.87,0,0,0,.88.88h6.24A.87.87,0,0,0,18,8.12V1.88A.87.87,0,0,0,17.12,1Z" />
                                        <path class="view-icon-svg"
                                              d="M7,12v6H1V12H7m.12-1H.88a.87.87,0,0,0-.88.88v6.24A.87.87,0,0,0,.88,19H7.12A.87.87,0,0,0,8,18.12V11.88A.87.87,0,0,0,7.12,11Z" />
                                        <path class="view-icon-svg"
                                              d="M17,12v6H11V12h6m.12-1H10.88a.87.87,0,0,0-.88.88v6.24a.87.87,0,0,0,.88.88h6.24a.87.87,0,0,0,.88-.88V11.88a.87.87,0,0,0-.88-.88Z" />
                                    </svg>
                                </a>
                            </span>
                            <div class="d-block d-md-inline-block">
                                <div class="btn-group float-md-left mr-1 mb-1">
                                    <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Order By
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                    </div>
                                </div>
                                <div class="search-sm calendar-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                                    <input class="form-control datepicker" placeholder="Search by day">
                                </div>
                            </div>
                            <div class="float-md-right">
                                <span class="text-muted text-small">Displaying 1-10 of 210 items </span>
                                <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    20
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">10</a>
                                    <a class="dropdown-item active" href="#">20</a>
                                    <a class="dropdown-item" href="#">30</a>
                                    <a class="dropdown-item" href="#">50</a>
                                    <a class="dropdown-item" href="#">100</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="separator mb-5"></div>
                </div>
            </div>

            <div class="row list disable-text-selection" data-check-all="checkAll">

                {% for product in products %}
                    <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4 d-inline-block">
                        <div class="card" style="width: 242px; height: 300px;">
                            <div class="position-relative"  style="width: 242px;">
                                <a href="{{ path('app_show_product', {id: product.id}) }}">
{#                                    | imagine_filter('squared_thumbnail_medium')#}
                                    <img src="{{ vich_uploader_asset(product) }}" alt="{{ product.productName }}"
{#                                         img-thumbnail list-thumbnail border-0 rounded-circle#}
                                         class="img-thumbnail " style="width:100%; height:180px; border-top-right-radius: 15px; border-top-left-radius: 15px"/>
                                </a>
{#                                <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left">NEW</span>#}

                                    <button type="button" class="editBtnProduct badge badge-pill badge-theme-1 position-absolute badge-top-right border-0" data-id="{{product.id}}"
                                            data-name="{{product.productName}}" data-price="{{product.productPrice}}" data-description="{{product.productDescription}}" data-image="{{product.productImage}}">
                                    Edit
                                    </button>

                                    <a href="{{ path('app_delete_product', {id: product.id}) }}"
                                       onclick="return confirm('are u sure?')" class="badge badge-pill badge-theme-1 position-absolute badge-top-right border-0 mt-4" style="color: white">
                                        Delete
                                    </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <div class="custom-control custom-checkbox pl-1">
                                            <label class="custom-control custom-checkbox  mb-0">
                                                <input type="checkbox" class="custom-control-input">
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <a href="{{ path('app_show_product', {id: product.id}) }}">
                                            <p class="list-item-heading mb-4 pt-1">{{ product.productName }}</p>
                                        </a>
                                        <footer>
                                            <p class="text-muted text-small mb-0 font-weight-light">{{ product.productPrice }}</p>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {#      MODAL OF ADD        #}
                <div id="myModalAddProduct" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title">Demande de Devis</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <div class="container">
                                    <div class="row col-md-12">
                                        <div class="my-form " >
                                            {{ form_start(CreateForm) }}
                                            <label class="form-group has-float-label mb-4 h6">
                                                {{ form_row(CreateForm.productName) }}
                                            </label><br>
                                            <label class="form-group has-float-label mb-4 h6">
                                                {{ form_row(CreateForm.productPrice)}}
                                            </label><br>
                                            <label class="form-group has-float-label mb-4 h6">
                                                {{ form_row(CreateForm.productDescription) }}
                                            </label><br>
                                            <label class="form-group has-float-label mb-4 h6">
                                                {{ form_row(CreateForm.imageFile) }}
                                            </label><br>
                                            <div class="d-flex justify-content-end align-items-center">
                                                <button class="btn btn-primary btn-lg btn-shadow" type="submit">Create Produit</button>
                                            </div>
                                            {{ form_end(CreateForm) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                {#      MODAL OF EDIT       #}
                <div id="myModalEditProduct" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title font-weight-bold ml-3 h3">Edit Product</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <div class="container">
                                    <div class="row col-md-12">
                                        <div class="my-form" >
                                            <form action="" method="POST" id="formEdit">
                                                <div class="form-group">
                                                    <label for="name" class="form-group has-float-label h6">Product Name</label>
                                                    <input type="text"  id="name" class="form-control chp" placeholder="Nom et Prénom" name="nomProduct" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="price" class="form-group has-float-label h6">Product Price</label>
                                                    <input type="text"  id="price" class="form-control chp" placeholder="Price" name="nomPrice" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="description" class="form-group has-float-label h6">Product description</label>
                                                    <input type="text"  id="description" class="form-control chp" placeholder="description" name="nomDescription" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="image" class="form-group has-float-label h6">Product Image</label>
                                                    <input type="file"  id="image" class="form-control chp" placeholder="Image" name="nomImage" required>
                                                </div>
                                                <div class="msgerreur"></div>
                                                <div class="d-flex justify-content-end align-items-center mt-5">
                                                    <button class="btn btn-primary btn-lg btn-shadow mr-2" type="submit">Edit</button>
                                                    <button type="reset"  class="btn btn-primary btn-lg btn-shadow" data-dismiss="modal">Cancel</button>
                                                </div>
                                                {#                                                    <div class="form-group bts">#}
                                                {#                                                        <button type="submit" class="btn btn-indo" >Envoyer</button>#}
                                                {#                                                        <button type="reset"  class="btn btn-info raf" data-dismiss="modal">Annuler</button>#}
                                                {#                                                    </div>#}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                {#      MODAL OF DELETE      #}
                {#                    <div id="myModalDelete" class="modal fade" role="dialog">#}
                {#                        <div class="modal-dialog modal-lg">#}

                {#                            <!-- Modal content-->#}
                {#                            <div class="modal-content">#}

                {#                                <div class="modal-header">#}
                {#                                    <h5 class="modal-title">Delete Product</h5>#}
                {#                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                {#                                        <span aria-hidden="true">&times;</span>#}
                {#                                    </button>#}
                {#                                </div>#}

                {#                                <div class="modal-body">#}
                {#                                    <div class="container">#}
                {#                                        <div class="row col-md-12">#}
                {#                                            <div class="my-form" >#}
                {#                                                <h1>Delete ?</h1>#}
                {#                                                <form action="" method="POST" id="formDelete">#}
                {#                                                    <div class="d-flex justify-content-end align-items-center mt-5">#}
                {#    #}{#                                                    <a href="{{ path('app_delete', {id: product.id}) }}">#}
                {#                                                            <button class="btn btn-primary btn-lg btn-shadow mr-2" type="submit" >Delete</button>#}
                {#    #}{#                                                    </a>#}
                {#                                                        <button type="reset"  class="btn btn-primary btn-lg btn-shadow" data-dismiss="modal">Cancel</button>#}
                {#                                                    </div>#}
                {#                                                </form>#}
                {#                                            </div>#}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                </div>#}

                {#                            </div>#}

                {#                        </div>#}
                {#                    </div>#}

            </div>
            {% do products.setPageRange(3) %}
            {{ knp_pagination_render(products, 'dashboard/Product/paginator.html.twig') }}
            </div>
        </div>
    </main>

    <footer class="page-footer">
        <div class="footer-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <p class="mb-0 text-muted">ColoredStrategies 2019</p>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                        <ul class="breadcrumb pt-0 pr-0 float-right">
                            <li class="breadcrumb-item mb-0">
                                <a href="#" class="btn-link">Review</a>
                            </li>
                            <li class="breadcrumb-item mb-0">
                                <a href="#" class="btn-link">Purchase</a>
                            </li>
                            <li class="breadcrumb-item mb-0">
                                <a href="#" class="btn-link">Docs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


{% endblock %}
