{#{% extends 'base.html.twig' %}#}



{#{% block body %}#}
{#    <main>#}
{#        <button  class="editBtn" data-toggle="modal" data-target="#myModal"> Edit</button>#}

{#        <div id="myModal" class="modal fade" role="dialog">#}
{#            <div class="modal-dialog modal-lg">#}

{#                <!-- Modal content-->#}
{#                <div class="modal-content">#}

{#                    <div class="modal-header">#}
{#                        <h5 class="modal-title">Demande de Devis</h5>#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                            <span aria-hidden="true">&times;</span>#}
{#                        </button>#}
{#                    </div>#}

{#                    <div class="modal-body">#}
{#                        <div class="container">#}
{#                            <div class="row col-md-12">#}
{#                                <div class="my-form devis" >#}
{#                                    {{ form_start(CreateForm) }}#}
{#                                    <label class="form-group has-float-label mb-4">#}
{#                                        {{ form_row(CreateForm.productName) }}#}
{#                                    </label>#}
{#                                    <label class="form-group has-float-label mb-4">#}
{#                                        {{ form_row(CreateForm.productPrice)}}#}
{#                                    </label>#}
{#                                    <label class="form-group has-float-label mb-4">#}
{#                                        {{ form_row(CreateForm.productDescription) }}#}
{#                                    </label>#}
{#                                    <div class="d-flex justify-content-end align-items-center">#}
{#                                        <button class="btn btn-primary btn-lg btn-shadow" type="submit">Create Produit</button>#}
{#                                    </div>#}
{#                                    {{ form_end(CreateForm) }}#}
{#                                </div>#}

{#                                <div class="successDevis">#}
{#                                    <p> Votre Demande a été envoyée avec succèe.  </p>#}
{#                                    <p>Notre assistant traitera soigneusement votre demande et vous répondera dans les plus brefs délais.</p>#}
{#                                    <button type="reset" class="btn btn-default" data-dismiss="modal">Fermer</button>#}
{#                                </div>#}


{#                                <form  class="devis">#}
{#                                    <input type="hidden" name="demandededevis">#}
{#                                    <div class="form-group">#}
{#                                        <input type="text"  value="{{  }}" class="form-control chp" placeholder="Nom et Prénom" name="nomClient" required>#}
{#                                    </div>#}

{#                                    <div class="msgerreur"></div>#}
{#                                    <div class="form-group bts">#}
{#                                        <button type="submit" class="btn btn-indo" >Envoyer</button>#}
{#                                        <button type="reset"  class="btn btn-info raf" data-dismiss="modal">Annuler</button>#}
{#                                    </div>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

{#                </div>#}

{#            </div>#}
{#        </div>#}
{#    </main>#}

{#{% endblock %}#}
