{% for product in products %}
    <div class="shop-list-wrap mb-30">
        <div class="row ">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6">
                <div class="product-list-img">
                    <a href="{{ path('app_shop_show', {id: product.id}) }}">
                        <img loading="lazy" src="{{ asset('uploads/product/') ~ product.productImage }}" alt="{{ product.productName }}">
                    </a>
                    <div class="product-list-quickview">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="{{ path('app_shop_modal', {id: product.id}) }}"><i class="la la-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6">
                <div class="shop-list-content">
                    <h4><a href="{{ path('app_shop_show', {id: product.id}) }}">{{ product.productName }}</a></h4>
                    <div class="pro-list-price mb-2">
                        <span>${{ product.productPrice | number_format(0, ',', ' ') }}</span>
                        <span class="old-price">$50.00</span>
                    </div>
                    <span>{{ product.productDescription|striptags|length < 200 ? product.productDescription|striptags : product.productDescription|striptags|slice(0, 200) ~ '...' }}</span>
                    <div class="product-list-action mt-4">
                        <a title="Wishlist" href="{{ path('app_fav_add', {id: product.id}) }}"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                        <a title="Add To Cart" href="{{ path('app_cart_add', {id: product.id}) }}"><i class="la la-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}