{% extends 'dashboard/baseDashboard.html.twig' %}


{% block title %}Hello Blog Controller!{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Blog</h1>
                    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                        <ol class="breadcrumb pt-0">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Library</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                        </ol>
                    </nav>
                    <div class="top-right-button-container">
                        <button type="button" class="addBtn btn btn-primary btn-lg top-right-button mr-1" data-toggle="modal" data-target="#myModalAddBlog">ADD NEW</button>
                    </div>
                    <div class="separator mb-5"></div>

                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <table class="data-table data-table-scrollable "
                                   data-order="[[ 1, &quot;desc&quot; ]]">
                                <thead>
                                <tr>
                                    <th><i class="simple-icon-camera"></i>&nbsp;Image</th>
{#                                    <th></th>#}
                                    <th>&nbsp;&nbsp;&nbsp;&nbsp;Title</th>
                                    <th>Description</th>
                                    <th class="top-right-button-container mr-4">Edit &nbsp; &nbsp;&nbsp; delete &nbsp;&nbsp;</th>
{#                                    <th>delete</th>#}
                                </tr>
                                </thead>
                                <tbody>
                                {% for blog in blogs %}
                                    <tr>
                                        <td style="width: 110px;">
                                            <a class="d-flex" href="#">
                                                <img src="{{ asset('uploads/blog/') ~ blog.image }}" alt="{{ blog.image }}"
                                                     class="list-thumbnail responsive card-img-left img-thumbnail">
                                            </a>
                                        </td>
{#                                        <td>#}
{#                                        </td>#}
                                        <td>
                                            <p class="list-item-heading">&nbsp;&nbsp;&nbsp;&nbsp;{{ blog.title }}</p>
                                        </td>
                                        <td>
                                            <textarea class="text-muted border-0" rows="4" cols="45">{{ blog.description }}</textarea>
                                        </td>
                                        <td class="float-right mr-5">
                                            <button type="button" class="badge badge-pill badge-secondary border-0 font-weight-bold mr-2"
                                                    data-toggle="modal" data-target="#modal-edit-blog-{{ blog.id }}">
                                                <i class="glyph-icon simple-icon-pencil" data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="Edit">&nbsp; Edit</i>
                                            </button>
                                            <a href="{{ path('dashboard_delete_blog', {id: blog.id}) }}"
                                               onclick="return confirm('are u sure?')" class="btn badge badge-pill badge-secondary border-0 font-weight-bold"
                                               data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Delete">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            {# Add Blog modal #}
                            {% include 'dashboard/Blog/_modalAddBlog.html.twig' %}

                            {# Edit Blog modal #}
                            {% include 'dashboard/Blog/_modalEditBlog.html.twig' %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="page-footer">
        <div class="footer-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <p class="mb-0 text-muted">ColoredStrategies 2019</p>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                        <ul class="breadcrumb pt-0 pr-0 float-right">
                            <li class="breadcrumb-item mb-0">
                                <a href="#" class="btn-link">Review</a>
                            </li>
                            <li class="breadcrumb-item mb-0">
                                <a href="#" class="btn-link">Purchase</a>
                            </li>
                            <li class="breadcrumb-item mb-0">
                                <a href="#" class="btn-link">Docs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


{% endblock %}
